<section class="font">
    <div style="font-family: roboto">
        <span style='font-size: 30px'>roboto fonts</span>
        <br>user id is {{theid}}<br>
        <br>user picture link is {{thepic}}<br>
        <img src="{{thepic}}">
        <h1>this is h1(b)</h1>
        <h2>this is h2(b)</h2>
        <h3>this is h3(b)</h3>
        <h4>this is h4(b)</h4>
        <p style="font-weight: bold">this is bold p(b)</p>
        <p>this is p(b)</p>
        <h5>this is h5(b)</h5>
        <h6>htis is h6(b)</h6>
    </div>
    <br>
    <div>
        <span style='font-size: 30px'>not roboto fonts</span>
        <h1>this is h1(b)</h1>
        <h2>this is h2(b)</h2>
        <h3>this is h3(b)</h3>
        <h4>this is h4(b)</h4>
        <p style="font-weight: bold">this is bold p(b)</p>
        <p>this is p(b)</p>
        <h5>this is h5(b)</h5>
        <h6>htis is h6(b)</h6>
    </div>
    <button ng-click="logout()">logout</button>
</section>